body {
  padding-top: 50px;
  background-image: url('../images/cork_1.png');

  /* font-family: 'Roboto', sans-serif; */
    background-color: #8D99AE;

}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  padding: 20px;
  margin: 50px;
}

.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.5); */
    color: #EF233C;
}

.col-md-4 {
  padding-left: 0px;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;

  background-color: #2B2D42;
  padding-top: 15px;
  font-size: 12px;

  border-top: 5px solid #8D99AE;
}

.img-fluid {
  height: 300px;
  width: initial;
  float: left;
  padding: 10px 20px 20px 5px;
}

.card-body {
  text-align: center;
  color: #8D99AE;
}

h1 {
  /* background-color: #2B2D42;
  color: #fff; */
  /* background-color: #2B2D42;
  color: #fff;
  padding-left: 40px;
  border-left: 40px;
  margin-left: 10px; */
}


h2 {
    /* font-size: 2em; */
    margin: 0;
    border-bottom: 1px solid #EF233C;
    margin-bottom: 10px;

    color: #8D99AE;

    border-color: #dddddd;
    border-color: #EF233C;
    padding-bottom: 20px;
}